<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mealmaster">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- quyen mo camera -->
    <uses-permission android:name="android.permission.CAMERA"/>  
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <!-- quyen mo camera -->
    
    <!-- quyen mo thu vien  -->
        <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <!-- quyen mo thu vien  -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">

    <!-- sign in with facebook -->
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
    <!-- sign in with facebook -->

    <activity android:name=".SplashActivity" android:exported="true" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
     <!-- app activity -->

     <!-- app activity -->
      </activity>
    </application>
</manifest>
